@{
    ViewBag.Title = "Phục hồi mật khẩu";
}

<div class="columns-container">
    <div class="container" id="columns">
        <div class="page-content page-order">
            <div class="heading-counter warning">
                <span>Bạn hãy kiểm tra Email để biết được mật khẩu của mình.</span>
            </div>
        </div>
    </div>
</div>
	
