@model WineShop.Models.ForgotPasswordViewModel

<div class="columns-container">
    <div class="container" id="columns">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-authentication">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h3>Bạn đã quên mật khẩu?</h3>
                            <h4>Điền địa chỉ Email của bạn.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <label for="emmail_login">Địa chỉ Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })



                            <input type="submit" class="button" value="Phục hồi mật khẩu" />


                                    @*<button type="submit" class="button">Phục hồi</button>*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
