@model IEnumerable<WineShop.Models.HangSanXuat>

<div class="sub-menu">
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td width="400px">
                    @Html.ActionLink(item.TenHangSanXuat, "HienThiSanPhamTheoHang", "SanPhams", new { id = item.MaHangSanXuat }, null)

                </td>
            </tr>
        }
    </table>
</div>

