@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="columns-container">
    <div class="container" id="columns">
        <div class="page-content page-order">
            <div class="heading-counter warning">
                <h2>Phục hồi mật khẩu</h2>
                <span>Phục hồi mật khẩu thành công. Nhấn @Html.ActionLink("vào đây để tiến hành đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
            </div>
        </div>
    </div>
</div>
