<div class="block-tab-products">
    <div class="container">
        <ul class="nav-tab">
            <li class="active"><a style="text-decoration:none;" data-toggle="tab" href="#tab1">@ViewBag.TenTab1</a></li>
            <li><a style="text-decoration:none;" data-toggle="tab" href="#tab2">@ViewBag.TenTab2</a></li>
            <li><a style="text-decoration:none;" data-toggle="tab" href="#tab3">@ViewBag.TenTab3</a></li>
        </ul>
        <div class="tab-container">
            <div id="tab1" class="tab-panel active">
                @{Html.RenderAction("XemNhieu", "Modules");}
            </div>
            <div id="tab2" class="tab-panel">
                @{Html.RenderAction("BanChayNhat", "Modules");}
            </div>
            <div id="tab3" class="tab-panel">
                @{Html.RenderAction("MoiNhat", "Modules");}
            </div>
        </div>
    </div>
</div>
