<!-- end header -->

<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home" style="text-decoration: none;">Trang chủ</a>
            <span class="navigation-pipe">&nbsp;</span>
            <a href="#" title="Return to Home" style="text-decoration: none;">Vang trắng</a>
            <span class="navigation-pipe">&nbsp;</span>
            <a href="#" title="Return to Home" style="text-decoration: none;">Vang trắng Chile</a>
            <span class="navigation-pipe">&nbsp;</span>
            <a href="#" title="Return to Home" style="text-decoration: none;">Rượu vang Morande Gran Reserva – Chile</a>
        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">

            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <!-- Product -->
                <div id="product">
                    <div class="primary-box row">
                        <div class="pb-left-column col-xs-12 col-sm-5">
                            <!-- product-imge-->
                            <div class="product-image">
                                <div class="product-full">
                                    <img id="product-zoom" src="~/assets/data/vangtrangChile.jpg" data-zoom-image="assets/data/product-s3-850x1036.jpg" />
                                </div>
                                <div class="product-img-thumb" id="gallery_01">
                                    <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="21" data-loop="false">
                                        <li>
                                            <a href="#" data-image="assets/data/product-s3-420x512.jpg" data-zoom-image="assets/data/product-s3-850x1036.jpg">
                                                <img id="product-zoom" src="~/assets/data/sp1.jpg" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="assets/data/product-s2-420x512.jpg" data-zoom-image="assets/data/product-s2-850x1036.jpg">
                                                <img id="product-zoom" src="~/assets/data/sp2.jpg" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="assets/data/product-420x512.jpg" data-zoom-image="assets/data/product-850x1036.jpg">
                                                <img id="product-zoom" src="~/assets/data/sp3.jpg" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="assets/data/product-s4-420x512.jpg" data-zoom-image="assets/data/product-s4-850x1036.jpg">
                                                <img id="product-zoom" src="~/assets/data/sp4.jpg" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="assets/data/product-s5-420x512.jpg" data-zoom-image="assets/data/product-s5-850x1036.jpg">
                                                <img id="product-zoom" src="~/assets/data/sp5.jpg" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-image="assets/data/product-s6-420x512.jpg" data-zoom-image="assets/data/product-s6-850x1036.jpg">
                                                <img id="product-zoom" src="~/assets/data/sp6.jpg" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- product-imge-->
                        </div>
                        <div class="pb-right-column col-xs-12 col-sm-7">
                            <h1 class="product-name">Rượu vang Morande Gran Reserva – Chile</h1>
                            @*<div class="product-comments">
                                <div class="product-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="comments-advices">
                                    <a href="#">Based  on 3 ratings</a>
                                    <a href="#"><i class="fa fa-pencil"></i> write a review</a>
                                </div>
                            </div>*@
                            <div class="product-price-group">
                                <span class="price">595000 VNĐ</span>
                                <span class="old-price">850000 VNĐ</span>
                                <span class="discount">-30%</span>
                            </div>
                            <div class="info-orther">
                                <p>Mã Sản Phẩm: #453217907</p>
                                <p>Tình Trạng: <span class="in-stock">Còn Hàng</span></p>
                                <p>Xuất Xứ: Chile</p>
                            </div>
                            <div class="product-desc">
                                Rượu vang Morande Gran Reserva sản xuất từ 100% giống nho Cabernet Sauvignon được trồng tại thung lũng Maipo.
                            </div>
                            <div class="form-option">
                                <p class="form-option-title">Available Options:</p>
                                @*<div class="attributes">
                                    <div class="attribute-label">Color:</div>
                                    <div class="attribute-list">
                                        <ul class="list-color">
                                            <li style="background:#0c3b90;"><a href="#">red</a></li>
                                            <li style="background:#036c5d;" class="active"><a href="#">red</a></li>
                                            <li style="background:#5f2363;"><a href="#">red</a></li>
                                            <li style="background:#ffc000;"><a href="#">red</a></li>
                                            <li style="background:#36a93c;"><a href="#">red</a></li>
                                            <li style="background:#ff0000;"><a href="#">red</a></li>
                                        </ul>
                                    </div>
                                </div>*@
                                <div class="attributes">
                                    <div class="attribute-label">Số lượng:</div>
                                    <div class="attribute-list product-qty">
                                        <div class="qty">
                                            <input id="option-product-qty" type="text" value="1">
                                        </div>
                                        <div class="btn-plus">
                                            <a href="#" class="btn-plus-up">
                                                <i class="fa fa-caret-up"></i>
                                            </a>
                                            <a href="#" class="btn-plus-down">
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="attributes">
                                    <div class="attribute-label">Size:</div>
                                    <div class="attribute-list">
                                        <select>
                                            <option value="1">X</option>
                                            <option value="2">XL</option>
                                            <option value="3">XXL</option>
                                        </select>
                                        <a id="size_chart" class="fancybox" href="assets/data/size-chart.jpg">Size Chart</a>
                                    </div>

                                </div>*@
                            </div>
                            <div class="form-action">
                                <div class="button-group">
                                    <a class="btn-add-cart" href="#" style="text-decoration: none;">Add to cart</a>
                                </div>
                                @*<div class="button-group">
                                    <a class="wishlist" href="#">
                                        <i class="fa fa-heart-o"></i>
                                        <br>Wishlist
                                    </a>
                                    <a class="compare" href="#">
                                        <i class="fa fa-signal"></i>
                                        <br>
                                        Compare
                                    </a>
                                </div>*@
                            </div>
                            @*<div class="form-share">
                                <div class="sendtofriend-print">
                                    <a href="javascript:print();"><i class="fa fa-print"></i> Print</a>
                                    <a href="#"><i class="fa fa-envelope-o fa-fw"></i>Send to a friend</a>
                                </div>
                                <div class="network-share">
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <!-- tab product -->
                    <div class="product-tab">
                        <ul class="nav-tab">
                            <li class="active">
                                <a aria-expanded="false" data-toggle="tab" href="#product-detail" style="text-decoration: none;">Chi tiết sản phẩm</a>
                            </li>
                            <li>
                                <a aria-expanded="true" data-toggle="tab" href="#information" style="text-decoration: none;">Thông tin</a>
                            </li>                           
                        </ul>
                        <div class="tab-container">
                            <div id="product-detail" class="tab-panel active">
                                <p>Rượu vang Morande Gran Reserva có màu đỏ, có hương thơm tinh tế được kết tinh từ các loại trái cây như mận, quả mâm xôi, quả anh đào, hạt café nướng. Khi uống vào có vị đậm đà, thơm ngon, vị chát của chất tannin, hậu vị kéo dài.</p>

                                <p>Món ăn đi kèm : thích hợp với các món thịt chim rừng, thịt heo rừng, thịt thỏ, thịt đỏ.</p>

                                <p>Rượu vang Morande Gran Reserva là lựa chọn hàng đầu khi chọn quà biếu người thân, đồng nghiệp, cấp trên trong các dịp lễ, Tết.</p>
                            </div>
                            <div id="information" class="tab-panel">
                                <table class="table table-bordered">
                                    <tr>
                                        <td width="200">Xuất xứ: </td>
                                        <td>Chile</td>
                                    </tr>
                                    <tr>
                                        <td>Loại: </td>
                                        <td>Rượu nhẹ</td>
                                    </tr>
                                    <tr>
                                        <td>Nồng Độ: /td>
                                        <td>14,5 độ</td>
                                    </tr>
                                </table>
                            </div>
                            @*<div id="reviews" class="tab-panel">
                                <div class="product-comments-block-tab">
                                    <div class="comment row">
                                        <div class="col-sm-3 author">
                                            <div class="grade">
                                                <span>Grade</span>
                                                <span class="reviewRating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                            <div class="info-author">
                                                <span><strong>Jame</strong></span>
                                                <em>04/08/2015</em>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 commnet-dettail">
                                            Phasellus accumsan cursus velit. Pellentesque egestas, neque sit amet convallis pulvinar
                                        </div>
                                    </div>
                                    <div class="comment row">
                                        <div class="col-sm-3 author">
                                            <div class="grade">
                                                <span>Grade</span>
                                                <span class="reviewRating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                            <div class="info-author">
                                                <span><strong>Author</strong></span>
                                                <em>04/08/2015</em>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 commnet-dettail">
                                            Phasellus accumsan cursus velit. Pellentesque egestas, neque sit amet convallis pulvinar
                                        </div>
                                    </div>
                                    <p>
                                        <a class="btn-comment" href="#">Write your review !</a>
                                    </p>
                                </div>

                            </div>
                            <div id="extra-tabs" class="tab-panel">
                                <p>Phasellus accumsan cursus velit. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Sed lectus. Sed a libero. Vestibulum eu odio.</p>

                                <p>Maecenas vestibulum mollis diam. In consectetuer turpis ut velit. Curabitur at lacus ac velit ornare lobortis. Praesent ac sem eget est egestas volutpat. Nam eget dui.</p>

                                <p>Maecenas nec odio et ante tincidunt tempus. Vestibulum suscipit nulla quis orci. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Aenean ut eros et nisl sagittis vestibulum. Aliquam eu nunc.</p>
                            </div>
                            <div id="guarantees" class="tab-panel">
                                <p>Phasellus accumsan cursus velit. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Sed lectus. Sed a libero. Vestibulum eu odio.</p>

                                <p>Maecenas vestibulum mollis diam. In consectetuer turpis ut velit. Curabitur at lacus ac velit ornare lobortis. Praesent ac sem eget est egestas volutpat. Nam eget dui.</p>

                                <p>Maecenas nec odio et ante tincidunt tempus. Vestibulum suscipit nulla quis orci. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Aenean ut eros et nisl sagittis vestibulum. Aliquam eu nunc.</p>
                                <p>Maecenas vestibulum mollis diam. In consectetuer turpis ut velit. Curabitur at lacus ac velit ornare lobortis. Praesent ac sem eget est egestas volutpat. Nam eget dui.</p>
                            </div>*@
                        </div>
                    </div>
                    <!-- ./tab product -->
                    <!-- box product -->
                    <div class="page-product-box">
                        <h3 class="heading">Sản phẩm cùng loại</h3>
                        <ul class="product-list owl-carousel owl-loaded owl-theme" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="~/assets/data/sp6.jpg" />
                                        </a>
                                        @*<div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view" class="search" href="#"></a>
                                        </div>*@
                                        <div class="add-to-cart">
                                            <a title="Add to Cart" href="#add" style="text-decoration: none;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#" style="text-decoration: none;">Rượu vang Morande Reserva Maipo 2013 – Chile</a></h5>
                                        @*<div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>*@
                                        <div class="content_price">
                                            <span class="price product-price">350000 VNĐ</span>
                                            <span class="price old-price">700000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="~/assets/data/sp6.jpg" />
                                        </a>
                                        @*<div class="quick-view">
                        <a title="Add to my wishlist" class="heart" href="#"></a>
                        <a title="Add to compare" class="compare" href="#"></a>
                        <a title="Quick view" class="search" href="#"></a>
                    </div>*@
                                        <div class="add-to-cart">
                                            <a title="Add to Cart" href="#add" style="text-decoration: none;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#" style="text-decoration: none;">Rượu vang Morande Reserva Maipo 2013 – Chile</a></h5>
                                        @*<div class="product-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>*@
                                        <div class="content_price">
                                            <span class="price product-price">350000 VNĐ</span>
                                            <span class="price old-price">700000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="~/assets/data/sp6.jpg" />
                                        </a>
                                        @*<div class="quick-view">
                        <a title="Add to my wishlist" class="heart" href="#"></a>
                        <a title="Add to compare" class="compare" href="#"></a>
                        <a title="Quick view" class="search" href="#"></a>
                    </div>*@
                                        <div class="add-to-cart">
                                            <a title="Add to Cart" href="#add" style="text-decoration: none;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#" style="text-decoration: none;">Rượu vang Morande Reserva Maipo 2013 – Chile</a></h5>
                                        @*<div class="product-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>*@
                                        <div class="content_price">
                                            <span class="price product-price">350000 VNĐ</span>
                                            <span class="price old-price">700000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="~/assets/data/sp6.jpg" />
                                        </a>
                                        @*<div class="quick-view">
                        <a title="Add to my wishlist" class="heart" href="#"></a>
                        <a title="Add to compare" class="compare" href="#"></a>
                        <a title="Quick view" class="search" href="#"></a>
                    </div>*@
                                        <div class="add-to-cart">
                                            <a title="Add to Cart" href="#add" style="text-decoration: none;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#" style="text-decoration: none;">Rượu vang Morande Reserva Maipo 2013 – Chile</a></h5>
                                        @*<div class="product-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>*@
                                        <div class="content_price">
                                            <span class="price product-price">350000 VNĐ</span>
                                            <span class="price old-price">700000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- ./box product -->
                    <!-- box product -->
                    <div class="page-product-box">
                        <h3 class="heading">Có thể bạn sẽ thích</h3>
                        <ul class="product-list owl-carousel owl-theme owl-loaded" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="~/assets/data/sp5.jpg" />
                                        </a>
                                        @*<div class="quick-view">
                        <a title="Add to my wishlist" class="heart" href="#"></a>
                        <a title="Add to compare" class="compare" href="#"></a>
                        <a title="Quick view" class="search" href="#"></a>
                    </div>*@
                                        <div class="add-to-cart">
                                            <a title="Add to Cart" href="#add" style="text-decoration: none;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#" style="text-decoration: none;">Rượu vang Morande Reserva Maipo 2013 – Chile</a></h5>
                                        @*<div class="product-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>*@
                                        <div class="content_price">
                                            <span class="price product-price">350000 VNĐ</span>
                                            <span class="price old-price">700000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="~/assets/data/sp5.jpg" />
                                        </a>
                                        @*<div class="quick-view">
                        <a title="Add to my wishlist" class="heart" href="#"></a>
                        <a title="Add to compare" class="compare" href="#"></a>
                        <a title="Quick view" class="search" href="#"></a>
                    </div>*@
                                        <div class="add-to-cart">
                                            <a title="Add to Cart" href="#add" style="text-decoration: none;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#" style="text-decoration: none;">Rượu vang Morande Reserva Maipo 2013 – Chile</a></h5>
                                        @*<div class="product-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>*@
                                        <div class="content_price">
                                            <span class="price product-price">350000 VNĐ</span>
                                            <span class="price old-price">700000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="~/assets/data/sp5.jpg" />
                                        </a>
                                        @*<div class="quick-view">
                        <a title="Add to my wishlist" class="heart" href="#"></a>
                        <a title="Add to compare" class="compare" href="#"></a>
                        <a title="Quick view" class="search" href="#"></a>
                    </div>*@
                                        <div class="add-to-cart">
                                            <a title="Add to Cart" href="#add" style="text-decoration: none;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#" style="text-decoration: none;">Rượu vang Morande Reserva Maipo 2013 – Chile</a></h5>
                                        @*<div class="product-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>*@
                                        <div class="content_price">
                                            <span class="price product-price">350000 VNĐ</span>
                                            <span class="price old-price">700000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="~/assets/data/sp5.jpg" />
                                        </a>
                                        @*<div class="quick-view">
                        <a title="Add to my wishlist" class="heart" href="#"></a>
                        <a title="Add to compare" class="compare" href="#"></a>
                        <a title="Quick view" class="search" href="#"></a>
                    </div>*@
                                        <div class="add-to-cart">
                                            <a title="Add to Cart" href="#add" style="text-decoration: none;">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#" style="text-decoration: none;">Rượu vang Morande Reserva Maipo 2013 – Chile</a></h5>
                                        @*<div class="product-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>*@
                                        <div class="content_price">
                                            <span class="price product-price">350000 VNĐ</span>
                                            <span class="price old-price">700000 VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- ./box product -->
                </div>
                <!-- Product -->
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>
