@{
    ViewBag.Title = "Thanh toán thành công";
}

<div class="columns-container">
    <div class="container" id="columns">
        <div class="page-content page-order">
            <div class="heading-counter warning">
                <span><b>Cảm ơn bạn đã đặc hàng của chúng tôi. Chúng tôi sẽ giao hàng cho bạn trong thời gian sớm nhất!</b></span>
            </div>
            <div class="order-detail-content">
                <div class="cart_navigation">
                    <a style="text-decoration:none;" class="prev-btn" href="/">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
</div>
