@{
    ViewBag.Title = "Contact";
}
<div class="content">
    <div class="ic"></div>
    <center>
        <div class="container_12">
            <div class="grid_12">
                <div class="map">
                    <figure class=" ">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.634335073532!2d106.67983811422614!3d10.76263909233087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2sUniversity+of+Science%2C+Downtown+Campus!5e0!3m2!1sen!2s!4v1494498221713" width="940" height="397" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </figure>
                </div>
            </div>
            <div class="grid_4">
                <h3>Địa chỉ</h3>
                <div class="map">
                    <address>
                        <dl>
                            <dt>
                                113 Nguyễn Trãi <br>
                                Quận 7,<br>
                                Thành Phố Hồ Chí Minh, Việt Nam.
                            </dt>
                            <dd><span>Điện Thoại:</span>+84 163567567</dd>
                            <dd>E-mail: <a href="#" class="col1">longts96@gmail.com</a></dd>
                        </dl>
                    </address>                    
                </div>
            </div>
        </div>
    </center>
</div>