@model WineShop.Models.IndexViewModel

@*<p class="text-success">@ViewBag.StatusMessage</p>*@

<div class="columns-container">
    <div class="container" id="columns">
        <div class="page-content page-order">
            @*<ul class="step">
                    <li class="current-step"><span>@ViewBag.StatusMessage</span></li>
                </ul>*@
            <div class="heading-counter warning">
                <span>@ViewBag.StatusMessage</span>
            </div>
        </div>
    </div>
</div>