
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Trang chủ</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Giỏ hàng</span>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Đăng nhập</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">Yêu cầu xác thực</span>
        </h2>
        <div class="page-content page-order">
            <ul class="step">
                <li><span>01. Giỏ hàng</span></li>
                <li class="current-step"><span>02. Đăng nhập</span></li>
                <li><span>03. Địa chỉ</span></li>
                <li><span>04. Giao hàng</span></li>
                <li><span>05. Thanh toán</span></li>
            </ul>
        </div>
        <!-- ../page heading-->
        <div class="page-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-authentication">
                        <h3>Tạo một tài khoảng</h3>
                        <p>Vui lòng nhập địa chỉ email của bạn để tạo tài khoản.</p>
                        <label for="emmail_register">Địa chỉ Email</label>
                        <input id="emmail_register" type="text" class="form-control">
                        <button class="button"><i class="fa fa-user"></i> Tạo tài khoảng</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-authentication">
                        <h3>Bạn đã có tài khoảng?</h3>
                        <label for="emmail_login">Địa chỉ Email</label>
                        <input id="emmail_login" type="text" class="form-control">
                        <label for="password_login">Mật khẩu</label>
                        <input id="password_login" type="password" class="form-control">
                        <p class="forgot-pass"><a href="#">Bạn quên mật khẩu?</a></p>
                        <button class="button"><i class="fa fa-lock"></i> Đăng nhập</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="columns-container">
        <div class="container" id="columns">
            <div class="page-content page-order">
                <div class="order-detail-content">
                    <div class="cart_navigation">
                        <a style="text-decoration:none;" class="prev-btn" href="#">Quay lại</a>
                        <a style="text-decoration:none;" class="next-btn" href="#">Đặt hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




