
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a style="text-decoration:none;" class="home" href="#" title="Trở về trang chủ">Trang chủ</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Giỏ hàng</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading no-line">
            <span class="page-heading-title2">Giỏ hàng của tôi</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content page-order">
            <ul class="step">
                <li class="current-step"><span>01. Giỏ hàng</span></li>
                <li><span>02. Đăng nhập</span></li>
                <li><span>03. Địa chỉ</span></li>
                <li><span>04. Giao hàng</span></li>
                <li><span>05. Thanh toán</span></li>
            </ul>
            <div class="heading-counter warning">
                Giỏ hàng của bạn chứa:
                <span>2 Sản phẩm</span>
            </div>
            <div class="order-detail-content">
                <table class="table table-bordered table-responsive cart_summary">
                    <thead>
                        <tr>
                            <th class="cart_product">Sản phẩm</th>
                            <th>Mô tả</th>
                            <th>Tình trạng</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Tổng cộng</th>
                            <th class="action"><i class="fa fa-trash-o"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cart_product">
                                <a style="text-decoration:none;" href="#"><img src="~/assets/data/product1.jpg" alt="Product"></a>
                            </td>
                            <td class="cart_description">
                                <p class="product-name"><a style="text-decoration:none;" href="#">Rượu vang Chile Alma Cabernet Sauvignon</a></p>
                            </td>
                            <td class="cart_avail"><span class="label label-success">Còn hàng</span></td>
                            <td class="price"><span>280,000 vnđ</span></td>
                            <td class="qty">
                                <input class="form-control input-sm" type="text" value="2">
                                <a style="text-decoration:none;" href="#"><i class="fa fa-caret-up"></i></a>
                                <a style="text-decoration:none;" href="#"><i class="fa fa-caret-down"></i></a>
                            </td>
                            <td class="price">
                                <span>560,000 vnđ</span>
                            </td>
                            <td class="action">
                                <a style="text-decoration:none;" href="#">Delete item</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="cart_product">
                                <a style="text-decoration:none;" href="#"><img src="~/assets/data/product2.jpg" alt="Product"></a>
                            </td>
                            <td class="cart_description">
                                <p class="product-name"><a style="text-decoration:none;" href="#">CONTE GIANGIROLAMO</a></p>
                            </td>
                            <td class="cart_avail"><span class="label label-success">Còn hàng</span></td>
                            <td class="price"><span>2,200,000 vnđ</span></td>
                            <td class="qty">
                                <input class="form-control input-sm" type="text" value="1">
                                <a style="text-decoration:none;" href="#"><i class="fa fa-caret-up"></i></a>
                                <a style="text-decoration:none;" href="#"><i class="fa fa-caret-down"></i></a>
                            </td>
                            <td class="price">
                                <span>2,200,000 vnđ</span>
                            </td>
                            <td class="action">
                                <a style="text-decoration:none;" href="#">Delete item</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" rowspan="2"></td>
                            @*<td colspan="3">Tổng cộng (Đã bao gồm thuế giá trị gia tăng)</td>
                                <td colspan="2">122.38 €</td>*@
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Tổng</strong></td>
                            <td colspan="2"><strong>2,760,000 vnđ</strong></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="cart_navigation">
                    <a style="text-decoration:none;" class="prev-btn" href="#">Tiếp tục mua sắm</a>
                    <a style="text-decoration:none;" class="next-btn" href="#">Đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>


