@model IEnumerable<WineShop.Models.SanPham>

<div class="block-manufacturer-logo">
    <div class="container">
        <ul class="products-style8 row owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-autoplay="true" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":4},"1000":{"items":6}}'>
            @foreach (var item in Model)
            {
                <li class="product col-sm-9 col-md-12">
                    <div class="product-container">
                        <div class="product-thumb">
                            <a style="text-decoration:none;" href="SanPhams/HienThiChiTietSanPham/@item.MaSanPham">
                                @foreach (var h in item.HinhAnhs)
                                {
                                    <img src="~/Images/@h.TenHinh" width="80" height="200" alt="Sản phẩm" />
                                    break;
                                }
                            </a>
                        </div>
                        <div class="product-info">
                            <div class="product-name">
                                @item.TenSanPham
                            </div>

                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
