<footer id="footer2" class="footer-style8 parallax">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="footer-logo">
                        <a href="/"><img src="~/assets/data/option4/Logo.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="footer-menu">
                        <ul>
                            <li>@Html.ActionLink("Thông tin về chúng tôi", "HienThiThongTin", "Home")</li>
                            <li><a href="#" style="text-decoration: none;">Chi nhánh</a></li>
                            <li><a href="#" style="text-decoration: none;">Chính sách</a></li>
                            <li>@Html.ActionLink("Liên hệ", "HienThiLienHe", "Home")</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="footer-social">
                        <ul>
                            <li><a class="facebook" href="https://www.facebook.com/groups/181289818973647/?ref=br_rs" style="text-decoration: none;"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="google-plus" href="https://mail.google.com/mail/u/2/#inbox" style="text-decoration: none;"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer paralax-->
    <div class="footer-paralax" style="background: url('~/assets/images/brand_prlx_bg-small.jpg') 50% 0 no-repeat fixed;">
        <div class="footer-row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget-container">
                            <h3 class="widget-title" style="text-decoration: none;">Thông tin</h3>
                            <div class="widget-body">
                                <ul>
                                    <li>135B Trần Hưng Đạo, Q.1, TP.HCM</li>
                                    <li>0808-3508-8508</li>
                                    <li>vltteam14ck3@gmail.com</li>
                                    <li>Đường dây nóng: 088.888.888</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget-container">
                            <h3 class="widget-title" style="text-decoration: none;">NHÀ TÀI TRỢ</h3>
                            <div class="widget-body">
                                <ul>
                                    <li>LiOA</li>
                                    <li>VietinBank</li>
                                    <li>Foody.vn</li>
                                    <li>ivivu.com</li>
                                    <li>Bliss</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget-container">
							<div class="widget-body">
								<div class="map">
									<figure>
										<iframe width="600" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJhbMDwBUvdTERDfVwfFzOPhc&key=AIzaSyAyAqIkq-xIlT5H1C2mGPBW6ML_sGwqAUE" allowfullscreen></iframe>
									</figure>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-wapper">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="footer-coppyright">
                                Bản quyền © 2016 cửa hàng VLT. Tất cả các quyền được bảo vệ hợp pháp. Thiết kế bởi: VLTTEAM.
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./footer paralax-->
</footer>
