<footer id="footer2" class="footer-style8 parallax">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="footer-logo">
                        <a href="#"><img src="~/assets/data/option4/logo3.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="footer-menu">
                        <ul>
                            <li>@Html.ActionLink("Thông tin về chúng tôi", "HienThiThongTin", "Home")</li>
                            <li><a href="#" style="text-decoration: none;">Chi nhánh</a></li>
                            <li><a href="#" style="text-decoration: none;">Chính sách</a></li>
                            <li>@Html.ActionLink("Liên hệ", "HienThiLienHe", "Home")</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="footer-social">
                        <ul>
                            <li><a class="facebook" href="#" style="text-decoration: none;"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="pinterest" href="#" style="text-decoration: none;"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a class="vk" href="#" style="text-decoration: none;"><i class="fa fa-vk"></i></a></li>
                            <li><a class="twitter" href="#" style="text-decoration: none;"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="google-plus" href="#" style="text-decoration: none;"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer paralax-->
    <div class="footer-paralax" style="background: url('~/assets/images/brand_prlx_bg-small.jpg') 50% 0 no-repeat fixed;">
        @*<div class="footer-row footer-center">
                <div class="container">
                    <h3>Sign up below for early updates</h3>
                    <p>You a Client , large or small, and want to participate in this adventure, please send us an email to support@kuteshop.com</p>                 <form class="form-inline form-subscribe">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your E-mail Address">
                            <button type="submit" class="btn btn-default"><i class="fa fa-paper-plane-o"></i></button>
                        </div>

                    </form>
                </div>
            </div>*@
        <div class="footer-row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget-container">
                            <h3 class="widget-title" style="text-decoration: none;">Thông tin</h3>
                            <div class="widget-body">
                                <ul>
                                    <li><a class="location" href="#" style="text-decoration: none;">227 Nguyễn Văn Cừ, Q.5, TP.HCM</a></li>
                                    <li><a class="phone" href="#" style="text-decoration: none;">0808-3508-8508</a></li>
                                    <li><a class="email" href="#" style="text-decoration: none;">vltteam14ck3@gmail.com</a></li>
                                    <li><a class="mobile" href="#" style="text-decoration: none;">Đường dây nóng: 0909 6969 9696</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget-container">
                            <h3 class="widget-title" style="text-decoration: none;">CÔNG TY</h3>
                            <div class="widget-body">
                                <ul>
                                    <li><a href="#" style="text-decoration: none;">THÔNG TIN VỀ CHÚNG TÔI</a></li>
                                    <li><a href="#" style="text-decoration: none;">Chứng nhận</a></li>
                                    <li><a href="#" style="text-decoration: none;">Liên kết</a></li>
                                    <li><a href="#" style="text-decoration: none;">Điều khoảng</a></li>
                                    <li><a href="#" style="text-decoration: none;">Liên hệ với chúng tôi</a></li>
                                    <li><a href="#" style="text-decoration: none;">Liên hệ với chúng tôi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget-container">
                            <h3 class="widget-title" style="text-decoration: none;">TÀI KHOẢNG CỦA TÔI</h3>
                            <div class="widget-body">
                                <ul>
                                    <li><a href="#" style="text-decoration: none;">Đơn hàng của tôi</a></li>
                                    <li><a href="#" style="text-decoration: none;">Thẻ tín dụng của tôi</a></li>
                                    <li><a href="#" style="text-decoration: none;">Địa chỉ của tôi</a></li>
                                    <li><a href="#" style="text-decoration: none;">Thông tin cá nhân của tôi</a></li>
                                    <li><a href="#" style="text-decoration: none;">Khác</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget-container">
                            <h3 class="widget-title" style="text-decoration: none;">TRỢ GIÚP</h3>
                            <div class="widget-body">
                                <ul>
                                    <li><a href="#" style="text-decoration: none;">Thanh toán & khuyến mãi</a></li>
                                    <li><a href="#" style="text-decoration: none;">Thẻ thành viên</a></li>
                                    <li><a href="#" style="text-decoration: none;">Miễn phí vận chuyển</a></li>
                                    <li><a href="#" style="text-decoration: none;">Hủy và trả lại</a></li>
                                    <li><a href="#" style="text-decoration: none;">Câu hỏi & Hỗ trợ trực tuyến</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-wapper">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="footer-coppyright">
                                Bản quyền © 2016 cửa hàng VLT. Tất cả các quyền được bảo vệ hợp pháp. Thiết kế bởi: VLTTEAM.
                            </div>
                        </div>
                        @*<div class="col-sm-4">
                                <div class="footer-payment-logo">
                                    <img src="~/assets/data/option4/payment-logo.png" alt="payment logo">
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./footer paralax-->
</footer>
