<section class="section8 block-trending">
    <div class="section-container">
        <h3 class="section-title">Xem nhiều</h3>
        <div class="section-content">
            <div class="container">

                <ul class="products-style8 row">
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_9_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_9_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Veuve Clicquot Brut Yellow</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">1.550.000 vnđ</span>
                                    <span class="old-price">1.700.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_10_1.png" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_10_2.png" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Billecart-Salmon Brut Rose</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">3.800.000 vnđ</span>
                                    <span class="old-price">3.900.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_11_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_11_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Ron Zacapa 23 Centenario Rum</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">795.000 vnđ</span>
                                    <span class="old-price">820.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_13_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_13_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Glenfarclas 1976</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">29.100.000 vnđ</span>
                                    <span class="old-price"></span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_14_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_14_2.png" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Nếp Tiến Vua</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">200.000 vnđ</span>
                                    <span class="old-price">230.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_15_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_15_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Rượu Cần</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">44.000 vnđ</span>
                                    <span class="old-price">430.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_16_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_16_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Sake Karakuchi Suishin</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">1.900.000 vnđ</span>
                                    <span class="old-price">2.000.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_17_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_17_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Santa Rita Triple C</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">1.800.000 vnđ</span>
                                    <span class="old-price">2.000.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
