<div class="block-manufacturer-logo">
    <div class="container">
        <ul class="products-style8 row owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-autoplay="true" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":4},"1000":{"items":6}}'>
            <li class="product col-sm-9 col-md-12">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_13_1.jpg" width="200" height="200" alt="Sản phẩm" />
                            <img class="secondary_image" src="~/assets/data/option8/wine_13_2.jpg" width="200" height="200" alt="Sản phẩm" />
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Glenfarclas 1976</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-10">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_10_1.png" width="200" height="200" alt="Sản phẩm" />
                            <img class="secondary_image" src="~/assets/data/option8/wine_10_2.png" width="200" height="200" alt="Sản phẩm" />
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Billecart-Salmon Brut Rose</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-10">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_5_1.jpg" width="200" height="200" alt="Sản phẩm" />
                            <img class="secondary_image" src="~/assets/data/option8/wine_5_2.jpg" width="200" height="200" alt="San pham" />
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Rượu hoa hồng</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-10">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_9_1.jpg" width="200" height="200" alt="Sản phẩm" />
                            <img class="secondary_image" src="~/assets/data/option8/wine_9_2.jpg" width="200" height="200" alt="Sản phẩm" />
                        </a>
                        <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Veuve Clicquot Brut Yellow Label</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-10">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_8_1.jpg" width="200" height="200" alt="Sản phẩm">
                            <img class="secondary_image" src="~/assets/data/option8/wine_8_2.jpg" width="200" height="200" alt="Sản phẩm">
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Rượu chuối hột</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-12">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_14_1.jpg" width="200" height="200" alt="Sản phẩm" />
                            <img class="secondary_image" src="~/assets/data/option8/wine_14_2.jpg" width="200" height="200" alt="Sản phẩm" />
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Nếp Tiến Vua</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-10">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_11_1.jpg" width="200" height="200" alt="Sản phẩm" />
                            <img class="secondary_image" src="~/assets/data/option8/wine_11_2.jpg" width="200" height="200" alt="Sản phẩm" />
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Ron Zacapa 23 Centenario Rum</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-10">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_7_1.jpg" width="200" height="200" alt="Sản phẩm" />
                            <img class="secondary_image" src="~/assets/data/option8/wine_7_2.jpg" width="200" height="200" alt="San pham" />
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Gérard Bertrand Rosee</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-10">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_6_1.jpg" width="200" height="200" alt="Sản phẩm" />
                            <img class="secondary_image" src="~/assets/data/option8/wine_6_2.jpg" width="200" height="200" alt="Sản phẩm" />
                        </a>
                        <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Buheler</a>
                        </div>

                    </div>
                </div>
            </li>
            <li class="product col-sm-9 col-md-10">
                <div class="product-container">
                    <div class="product-thumb">
                        <a style="text-decoration:none;" href="detail2.html">
                            <img class="primary_image" src="~/assets/data/option8/wine_8_1.jpg" width="200" height="200" alt="Sản phẩm">
                            <img class="secondary_image" src="~/assets/data/option8/wine_8_2.jpg" width="200" height="200" alt="Sản phẩm">
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a style="text-decoration:none;" href="detail2.html">Baileyana Rose of Pinot Noir</a>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
        @*<ul class="owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-autoplay="true" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":4},"1000":{"items":6}}' >
                <li><a href="#"><img src="~/assets/data/option8/l1.jpg" alt="Logo"></a></li>
                <li><a href="#"><img src="~/assets/data/option8/l2.jpg" alt="Logo"></a></li>
                <li><a href="#"><img src="~/assets/data/option8/l3.jpg" alt="Logo"></a></li>
                <li><a href="#"><img src="~/assets/data/option8/l4.jpg" alt="Logo"></a></li>
                <li><a href="#"><img src="~/assets/data/option8/l5.jpg" alt="Logo"></a></li>
                <li><a href="#"><img src="~/assets/data/option8/l6.jpg" alt="Logo"></a></li>
            </ul>*@
    </div>
</div>


