<section class="section8 block-blogs">
    <div class="section-container">
        <h3 class="section-title">Lastest Posts</h3>
        <div class="section-content">
            <div class="container blog-list">
                <div class="blog-list-wapper">
                    <ul class="owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                        <li>
                            <div class="post-thumb image-hover2">
                                <a href="#"><img src="~/assets/data/option8/blog1.jpg" alt="Blog"></a>
                            </div>
                            <div class="post-desc">
                                <h5 class="post-title">
                                    <a href="#">Share the love with KuteShop</a>
                                </h5>
                                <div class="post-meta">
                                    <span class="date">February 27, 2015</span>
                                    <span class="comment">27 comment</span>
                                </div>
                                <div class="readmore">
                                    <a href="#">Readmore</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb image-hover2">
                                <a href="#"><img src="~/assets/data/option8/blog2.jpg" alt="Blog"></a>
                            </div>
                            <div class="post-desc">
                                <h5 class="post-title">
                                    <a href="#">Share the love with KuteShop</a>
                                </h5>
                                <div class="post-meta">
                                    <span class="date">February 27, 2015</span>
                                    <span class="comment">27 comment</span>
                                </div>
                                <div class="readmore">
                                    <a href="#">Readmore</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb image-hover2">
                                <a href="#"><img src="~/assets/data/option8/blog3.jpg" alt="Blog"></a>
                            </div>
                            <div class="post-desc">
                                <h5 class="post-title">
                                    <a href="#">Big sales this summer</a>
                                </h5>
                                <div class="post-meta">
                                    <span class="date">February 27, 2015</span>
                                    <span class="comment">27 comment</span>
                                </div>
                                <div class="readmore">
                                    <a href="#">Readmore</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb image-hover2">
                                <a href="#"><img src="~/assets/data/option8/blog4.jpg" alt="Blog"></a>
                            </div>
                            <div class="post-desc">
                                <h5 class="post-title">
                                    <a href="#">How to shop with us</a>
                                </h5>
                                <div class="post-meta">
                                    <span class="date">February 27, 2015</span>
                                    <span class="comment">27 comment</span>
                                </div>
                                <div class="readmore">
                                    <a href="#">Readmore</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
