<section class="section8 block-testimonials parallax">
    <div class="section-container">
        <h3 class="section-title">Testimonials</h3>
        <div class="section-content">
            <div class="container">
                <div class="testimonial-wapper">
                    <div class="testimonials">
                        <ul class="effect-myZoomIn testimonial testimonial-carousel">
                            <li>
                                <div class="testimonial-image">
                                    <a href="#"><img src="~/assets/data/option8/testimonials1.jpg" alt="testimonials"></a>
                                </div>
                                <div class="info">
                                    <p>We combine industry expertise with innovative technology to deliver critical information to leading decision makers , We combine industry expertise with innovative technology to deliver critical information to leading decision makers. Thank you very much for youe services!</p>
                                    <p class="testimonial-nane">Karla Anderson - Happy Customer</p>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial-image">
                                    <a href="#"><img src="~/assets/data/option8/testimonials2.jpg" alt="testimonials"></a>
                                </div>
                                <div class="info">
                                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="testimonial-nane">Karla Anderson - Happy Customer</p>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial-image">
                                    <a href="#"><img src="~/assets/data/option8/testimonials3.jpg" alt="testimonials"></a>
                                </div>
                                <div class="info">
                                    <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Ut a nisl id ante tempus hendrerit. Vivamus aliquet elit ac nisl. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Maecenas malesuada.</p>
                                    <p class="testimonial-nane">Karla Anderson - Happy Customer</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="testimonial-caption"></div>
            </div>
        </div>
    </div>
</section>
