<section class="section8 block-collections">
    <div class="section-container">
        <h3 class="section-title">Collections</h3>
        <div class="section-content">
            <div class="container">
                <ul class="nav-tab">
                    <li class="active"><a data-toggle="tab" href="#collection1">FOR WOMEN</a></li>
                    <li><a data-toggle="tab" href="#collection2">FOR MEN</a></li>
                </ul>
                <div class="tab-container">
                    <div id="collection1" class="tab-panel active">
                        <ul class="collection-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="14" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":3}}'>
                            <li class="item">
                                <div class="image banner-boder-zoom2">
                                    <a href="#"><img src="~/assets/data/option8/collection1.jpg" alt="collection1"></a>
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="#">Evening sexy dress</a></h3>
                                    <div class="desc">
                                        It looks great, feel comfortable and best of all, fit any occasion. 100% Cotton and Made in France
                                    </div>
                                    <div class="author">Designed by: James Watt</div>
                                    <div class="collection-button">
                                        <a href="#">View Collection</a>
                                    </div>
                                </div>
                            </li>
                            <li class="item top">
                                <div class="info">
                                    <h3 class="title"><a href="#">Evening sexy dress</a></h3>
                                    <div class="desc">
                                        It looks great, feel comfortable and best of all, fit any occasion. 100% Cotton and Made in France
                                    </div>
                                    <div class="author">Designed by: James Watt</div>
                                    <div class="collection-button">
                                        <a href="#">View Collection</a>
                                    </div>
                                </div>
                                <div class="image banner-boder-zoom2">
                                    <a href="#"><img src="~/assets/data/option8/collection2.jpg" alt="collection1"></a>
                                </div>
                            </li>
                            <li class="item">
                                <div class="image banner-boder-zoom2">
                                    <a href="#"><img src="~/assets/data/option8/collection3.jpg" alt="collection1"></a>
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="#">Evening sexy dress</a></h3>
                                    <div class="desc">
                                        It looks great, feel comfortable and best of all, fit any occasion. 100% Cotton and Made in France
                                    </div>
                                    <div class="author">Designed by: James Watt</div>
                                    <div class="collection-button">
                                        <a href="#">View Collection</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="collection2" class="tab-panel">
                        <ul class="collection-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="14" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":3}}'>
                            <li class="item">
                                <div class="image banner-boder-zoom2">
                                    <a href="#"><img src="~/assets/data/option8/collection4.jpg" alt="collection1"></a>
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="#">Evening sexy dress</a></h3>
                                    <div class="desc">
                                        It looks great, feel comfortable and best of all, fit any occasion. 100% Cotton and Made in France
                                    </div>
                                    <div class="author">Designed by: James Watt</div>
                                    <div class="collection-button">
                                        <a href="#">View Collection</a>
                                    </div>
                                </div>
                            </li>
                            <li class="item top">
                                <div class="info">
                                    <h3 class="title"><a href="#">Evening sexy dress</a></h3>
                                    <div class="desc">
                                        It looks great, feel comfortable and best of all, fit any occasion. 100% Cotton and Made in France
                                    </div>
                                    <div class="author">Designed by: James Watt</div>
                                    <div class="collection-button">
                                        <a href="#">View Collection</a>
                                    </div>
                                </div>
                                <div class="image banner-boder-zoom2">
                                    <a href="#"><img src="~/assets/data/option8/collection5.jpg" alt="collection1"></a>
                                </div>
                            </li>
                            <li class="item">
                                <div class="image banner-boder-zoom2">
                                    <a href="#"><img src="~/assets/data/option8/collection6.jpg" alt="collection1"></a>
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="#">Evening sexy dress</a></h3>
                                    <div class="desc">
                                        It looks great, feel comfortable and best of all, fit any occasion. 100% Cotton and Made in France
                                    </div>
                                    <div class="author">Designed by: James Watt</div>
                                    <div class="collection-button">
                                        <a href="#">View Collection</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
