<div class="homeslide8">
    <ul class="bxslider-background home-slider8">
        <li class="item" style="background-image: url('assets/data/option8/slider3.jpg');">
            <div class="content">
                <h3 class="title caption">Tuần lễ mua sắm tại Shop</h3>
                <h2 class="sub-title caption">Rượu làm nổi lên những điều thầm kín nhất.</h2>
                <p class="desc caption">
                    Một chút ái tình cũng như một chút rượu mạnh, cái gì quá cũng làm người ta mắc bệnh.<br />
                    Tình bạn nảy sinh qua chén trà, cốc rượu sẽ qua đi như hơi men, như giấc ngủ say.
                </p>
                <a href="#" class="sdide-button caption" style="text-decoration:none;">Mua ngay</a>
            </div>
        </li>
        <li class="item" style="background-image: url('assets/data/option8/slider3.jpg');">
            <div class="content">
                <h3 class="title caption">Tuần lễ mua sắm tại Shop</h3>
                <h2 class="sub-title caption">Rượu làm nổi lên những điều thầm kín nhất.</h2>
                <p class="desc caption">
                    Một chút ái tình cũng như một chút rượu mạnh, cái gì quá cũng làm người ta mắc bệnh.<br />
                    Tình bạn nảy sinh qua chén trà, cốc rượu sẽ qua đi như hơi men, như giấc ngủ say.
                </p>
                <a href="#" class="sdide-button caption" style="text-decoration:none;">Mua ngay</a>
            </div>
        </li>
        @*<li class="item" style="background-image: url('assets/data/option8/slider5.jpg');">
            <div class="content">
                <h3 class="title caption">Paris fashion week</h3>
                <h2 class="sub-title caption">fashion talents from paris </h2>
                <p class="desc caption">
                    Quisque malesuada placerat nisl. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna.
                    Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Maecena
                </p>
                <a href="#" class="sdide-button caption">Shop now</a>
            </div>
        </li>*@
        <li class="item" style="background-image: url('assets/data/option8/slider3.jpg');">
            <div class="content">
                <h3 class="title caption">Tuần lễ mua sắm tại Shop</h3>
                <h2 class="sub-title caption">Rượu làm nổi lên những điều thầm kín nhất.</h2>
                <p class="desc caption">
                    Một chút ái tình cũng như một chút rượu mạnh, cái gì quá cũng làm người ta mắc bệnh.<br/>
                    Tình bạn nảy sinh qua chén trà, cốc rượu sẽ qua đi như hơi men, như giấc ngủ say.
                </p>
                <a href="#" class="sdide-button caption" style="text-decoration:none;">Mua ngay</a>
            </div>
        </li>
    </ul>
</div>
