<section class="section8 block-loock-bocks parallax">
    <div class="section-container">
        <h3 class="section-title">LOOK BOOKS</h3>
        <div class="section-content">
            <div class="container">
                <ul class="loock-boock-list row">
                    <li class="col-sm-3">
                        <div class="image">
                            <a href="#"><img src="~/assets/data/option8/loock-boock1.jpg" alt="Loock boocks"></a>
                        </div>
                        <div class="info">
                            <p class="name">Paulette</p>
                            <p class="location">Australia</p>

                        </div>
                    </li>
                    <li class="col-sm-3">
                        <div class="image">
                            <a href="#"><img src="~/assets/data/option8/loock-boock2.jpg" alt="Loock boocks"></a>
                        </div>
                        <div class="info">
                            <p class="name">Paulette</p>
                            <p class="location">Australia</p>

                        </div>
                    </li>
                    <li class="col-sm-3">
                        <div class="image">
                            <a href="#"><img src="~/assets/data/option8/loock-boock3.jpg" alt="Loock boocks"></a>
                        </div>
                        <div class="info">
                            <p class="name">Paulette</p>
                            <p class="location">Australia</p>

                        </div>
                    </li>
                    <li class="col-sm-3">
                        <div class="image">
                            <a href="#"><img src="~/assets/data/option8/loock-boock4.jpg" alt="Loock boocks"></a>
                        </div>
                        <div class="info">
                            <p class="name">Paulette</p>
                            <p class="location">Australia</p>

                        </div>
                    </li>
                </ul>
                <div class="lock-boock-button">
                    <a href="#">Submit Your Photos</a>
                    <a href="#">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>
