<div id="main-header">
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-lg-3 logo">
                <a href="index.html"><img alt="Kute Shop" src="~/assets/data/option8/logo.png" /></a>
            </div>
            <div class="col-sm-10 col-md-7 col-lg-8 main-menu-wapper">
                <div id="main-menu" class="main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trang chủ</a>
                                        @*<ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    <li class="link_container"><a href="index.html">Home Style 1</a></li>
                                                    <li class="link_container"><a href="index2.html">Home Style 2</a></li>
                                                    <li class="link_container"><a href="index3.html">Home Style 3</a></li>
                                                    <li class="link_container"><a href="index4.html">Home Style 4</a></li>
                                                    <li class="link_container"><a href="index5.html">Home Style 5</a></li>
                                                    <li class="link_container"><a href="index6.html">Home Style 6</a></li>
                                                    <li class="link_container"><a href="index7.html">Home Style 7</a></li>
                                                    <li class="link_container"><a href="index8.html">Home Style 8</a></li>
                                                </ul>
                                            </li>
                                        </ul>*@
                                    </li>
                                    <li class="dropdown">
                                        <a href="category.html" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none;">Vang và Champane</a>
                                        <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 630px;">
                                            <li class="block-container col-sm-4">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="~/assets/data/vangtrang.png" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#" style="text-decoration:none;">Vang trắng</a>
                                                    </li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Vang trắng Chile</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Vang trắng Mỹ</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Vang trắng Úc</a></li>
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-4">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="~/assets/data/vangdo.jpg" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#" style="text-decoration:none;">Vang đỏ</a>
                                                    </li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu vang đỏ Pháp</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu vang đỏ Chile</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu vang sim Việt</a></li>
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-4">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="~/assets/data/champange.jpg" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#" style="text-decoration:none;" >Champane</a>
                                                    </li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu champange Pháp</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu champange Nga</a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="category.html" style="text-decoration:none;">Vodka</a>
                                        <ul class="mega_dropdown dropdown-menu" style="width: 320px;">                                            
                                            <li class="block-container col-sm-5">
                                                <ul class="block">
                                                    <li class="link_container group_header">
                                                        <a href="#" style="text-decoration:none;">Nhập ngoại</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#" style="text-decoration:none;">Nga</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#" style="text-decoration:none;">Ba Lan</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#" style="text-decoration:none;">Ukraine</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-6">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <img src="~/assets/data/vodka.jpg" alt="Banner">
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="category.html" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none;">Rum</a>
                                        <ul class="mega_dropdown dropdown-menu" style="width: 300px;">
                                            <li class="block-container col-sm-5">
                                                <ul class="block">
                                                    <li class="link_container group_header">
                                                        <a href="#" style="text-decoration:none;">Loại</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#" style="text-decoration:none;">Rum nhẹ</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#" style="text-decoration:none;">Rum mạnh</a>
                                                    </li>
                                                    <li class="link_container">
                                                        <a href="#" style="text-decoration:none;">Rum thơm</a>
                                                    </li>                                                    
                                                </ul>
                                            </li>
                                            <li class="block-container col-sm-6">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <img src="~/assets/data/rum.jpg" alt="Banner">
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"> 
                                        <a href="category.html" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none;">Whisky</a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">SCOTCH WHISKY</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">IRISH WHISKY</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">WHISKY NHẬT BẢN</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="category.html" style="text-decoration:none;">Rượu nội</a>
                                        <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 300px;">
                                            <li class="block-container col-sm-10">
                                                <ul class="block">
                                                    <li class="img_container">
                                                        <a href="#">
                                                            <img class="img-responsive" src="~/assets/data/vn.jpeg" alt="sport">
                                                        </a>
                                                    </li>
                                                    <li class="link_container group_header">
                                                        <a href="#" style="text-decoration:none;">Loại</a>
                                                    </li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu nếp</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu gò đen</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu bầu đá</a></li>
                                                    <li class="link_container"><a href="#" style="text-decoration:none;">Rượu thuốc</a></li>                                                    
                                                </ul>
                                            </li>
                                            </ul>
                                            
                                            <li class="dropdown">
                                                <a href="category.html" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none;">Liên hệ</a>
                                                <ul class="dropdown-menu" style="width: 330px;">                                                   
                                                    <li class="block-container col-sm-8">
                                                        <ul class="block">
                                                            <li class="link_container group_header">
                                                                <a href="#" style="text-decoration:none;"><b>Thông tin</b></a>
                                                            </li>
                                                            <li class="link_container">
                                                                <a href="blog.html" style="text-decoration:none;">Số điện thoại</a>
                                                            </li>
                                                            <li class="link_container">
                                                                <a href="blog-detail.html" style="text-decoration:none;">Địa chỉ</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
</div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-1 group-button-header">
                <div class="btn-cart" id="cart-block">
                    <a title="My cart" href="cart.html" style="text-decoration: none; ">Giỏ hàng</a>
                    <span class="notify notify-right">10</span>
                    <div class="cart-block">
                        <div class="cart-block-content">
                            <h5 class="cart-title">2 Items in my cart</h5>
                            <div class="cart-block-list">
                                <ul>
                                    <li class="product-info">
                                        <div class="p-left">
                                            <a href="#" class="remove_link"></a>
                                            <a href="#">
                                                <img class="img-responsive" src="~/assets/data/bauda1.jpg" alt="p10">
                                            </a>
                                        </div>
                                        <div class="p-right">
                                            <p class="p-name">Rượu bầu đá</p>
                                            <p class="p-rice">850000 VNĐ</p>
                                            <p>Số Lượng: 1</p>
                                        </div>
                                    </li>
                                    <li class="product-info">
                                        <div class="p-left">
                                            <a href="#" class="remove_link"></a>
                                            <a href="#">
                                                <img class="img-responsive" src="~/assets/data/vangchile.jpg" alt="p10">
                                            </a>
                                        </div>
                                        <div class="p-right">
                                            <p class="p-name">Montes Alpha M Apalta Single Vineyard - R2</p>
                                            <p class="p-rice">2550000 VNĐ</p>
                                            <p>Só Lượng: 1</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="toal-cart">
                                <span>Tổng tiền</span>
                                <span class="toal-price pull-right">3400000 VNĐ</span>
                            </div>
                            <div class="cart-buttons">
                                <a href="order.html" class="btn-check-out" style="text-decoration:none;">Xem giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
