<div class="block-tab-products">
    <div class="container">
        <ul class="nav-tab">
            <li class="active"><a style="text-decoration:none;" data-toggle="tab" href="#tab1">Ưu tiên</a></li>
            <li><a style="text-decoration:none;" data-toggle="tab" href="#tab2">Bán chạy nhất</a></li>
            <li><a style="text-decoration:none;" data-toggle="tab" href="#tab3">Hàng mới sắp có</a></li>
        </ul>
        <div class="tab-container">
            <div id="tab1" class="tab-panel active">
                <ul class="products-style8 row">
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p1.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p1-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p2.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p2-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p3.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p3-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p4.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p4-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p5.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p5-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p6.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p6-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p7.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p7-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p8.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p8-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="tab2" class="tab-panel">
                <ul class="products-style8 row">
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p1.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p1-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p2.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p2-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p3.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p3-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p4.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p4-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p5.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p5-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p6.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p6-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p7.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p7-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/p8.jpg" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/p8-1.jpg" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">SEXY SUMMER DRESS</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">$250</span>
                                    <span class="old-price">$350</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!---->
            <div id="tab3" class="tab-panel">
                <ul class="products-style8 row">
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_1_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_1_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Rượu chuối hột fjdhjfhdfjhdjfhdfjdsf</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">25.000 vnđ</span>
                                    <span class="old-price">30.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_2_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_2_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Angels and Cowboys Rose</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">390.000 vnđ</span>
                                    <span class="old-price">450.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_3_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_3_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Taureau</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">435.000 vnđ</span>
                                    <span class="old-price">460.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_4_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_4_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Wotm Josh Cellars</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">320.000 vnđ</span>
                                    <span class="old-price">390.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_5_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_5_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Rượu hoa hồng</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">680.000 vnđ</span>
                                    <span class="old-price">700.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_6_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_6_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Buheler</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">200.000 vnđ</span>
                                    <span class="old-price">250.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_7_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_7_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="detail2.html">Gérard Bertrand Rosee</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">320.000 vnđ</span>
                                    <span class="old-price">350.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product col-sm-6 col-md-3">
                        <div class="product-container">
                            <div class="product-thumb">
                                <a style="text-decoration:none;" href="detail2.html">
                                    <img class="primary_image" src="~/assets/data/option8/wine_8_1.jpg" width="270" height="330" alt="Sản phẩm">
                                    <img class="secondary_image" src="~/assets/data/option8/wine_8_2.jpg" width="270" height="330" alt="Sản phẩm">
                                </a>
                                <a style="text-decoration:none;" title="Xem nhanh" class="quick-view" href="#">Xem nhanh</a>
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                    <a style="text-decoration:none;" href="#">Baileyana Rose of Pinot Noir</a>
                                </div>
                                <div class="box-price">
                                    <span class="price">460.000 vnđ</span>
                                    <span class="old-price">500.000 vnđ</span>
                                </div>
                                <div class="button-control">
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào so sánh" class="compare" href="#">Compare</a>
                                    <a style="text-decoration:none;" title="Thêm vào giỏ" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                    <a style="text-decoration:none;" data-toggle="tooltip" data-placement="top" title="Thêm vào danh sách yêu thích" class="wishlist" href="#">wishlist</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
