<div class="block-banner8">
    <div class="container">
        <div class="row">
            <div class="item col-sm-4">
                <div class="banner-boder-zoom2 banner-text">
                    <a href="#"><img src="~/assets/data/option8/giamgia.jpg" alt="Banner"></a>
                    <div class="banner-content">
                        <h2 class="banner-title" style="color: white;">GIẢM GIÁ</h2>
                        <a href="#" class="banner-button" style="text-decoration:none; color:white;">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="item col-sm-4">
                <div class="banner-boder-zoom2 banner-text">
                    <a href="#"><img src="~/assets/data/option8/Ruoumanh.jpg" alt="Banner"></a>
                    <div class="banner-content">
                        <h2 class="banner-title" style="color: white;">RƯỢU MẠNH</h2>
                        <a href="#" class="banner-button" style="text-decoration:none; color:white;">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="item col-sm-4">
                <div class="banner-boder-zoom2 banner-text">
                    <a href="#"><img src="~/assets/data/option8/Ruounhe.jpg" alt="Banner"></a>
                    <div class="banner-content">
                        <h2 class="banner-title" style="color: white;">RƯỢU NHẸ</h2>
                        <a href="#" class="banner-button" style="text-decoration:none; color: white;">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
