<div class="top-header">
    <div class="container">
        <div class="nav-top-links">
            <a class="first-item" href="#" style="text-decoration:none;">Shop rượu ...</a>
            <a href="#" style="text-decoration:none;">Liên hệ: +09 957774334</a>
        </div>
        <a class="btn-fb-login" href="#" >Login fb</a>
        <div class="icon-cart-top"><a href="#"><i class="fa fa-shopping-cart"></i></a></div>
        <div class="user-info" >
            <div class="dropdown">
                <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><i class="fa fa-user" style="margin:8px;"></i></a>
                <ul class="dropdown-menu mega_dropdown" role="menu" >
                    <li><a href="login.html">Đăng nhập</a></li>
                    <li><a href="#">Đăng ký</a></li>
                </ul>
            </div>
        </div>
        <div class="form-search">
            <span class="icon fa fa-search" style="margin-top: 8px;"></span>
            <div class="form">
                <input type="text" placeholder="Keyword here...">
                <i class="close-form fa fa-times"></i>
            </div>
        </div>

        <div class="currency ">
            <div class="dropdown">
                <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" style="text-decoration:none;">VNĐ</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Dollar</a></li>
                    <li><a href="#">Euro</a></li>
                </ul>
            </div>
        </div>
        <div class="language ">
            <div class="dropdown">
                <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" style="text-decoration:none;">
                    <img alt="email" src="~/assets/images/vn.jpg">VietNamese

                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><img alt="email" src="~/assets/images/en.jpg">English</a></li>
                    <li><a href="#"><img alt="email" src="~/assets/images/fr.jpg">French</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
