@{
    ViewBag.Title = "Contact";
}
<div class="content">
    <div class="ic"></div>
    <center>
        <div class="container_12">
            <div class="grid_12">
                <div class="map">
                    <figure >
                        <iframe width="850" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJhbMDwBUvdTERDfVwfFzOPhc&key=AIzaSyAyAqIkq-xIlT5H1C2mGPBW6ML_sGwqAUE" allowfullscreen></iframe>
                    </figure>
                </div>
            </div>
            <div class="grid_4">
                <h3>Địa chỉ</h3>
                <div class="map">
                    <address>
                        <dl>
                            <dt>
                                135B Trần Hưng Đạo <br>
                                Quận 1,<br>
                                Thành Phố Hồ Chí Minh, Việt Nam.
                            </dt>
                            <dd><span>Điện Thoại:</span>+84 163567567</dd>
                            <dd>E-mail: <a href="#" class="col1">longts96@gmail.com</a></dd>
                        </dl>
                    </address>                    
                </div>
            </div>
        </div>
    </center>
</div>