

<center>
    @{
        ViewBag.Title = "Liên Hệ";
    }
    <h2>@ViewBag.Title.</h2>
    <address>
        <abbr title="Số điện thoại">P:</abbr>
        088.888.888
    </address>

    <address>
        <strong>Email hỗ trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />        
    </address>
</center>